<!DOCTYPE html>
<html>
<head>
  <title>FlowflowMonolith</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<header>
  <form action="<%= searches_path(turbo_frame: "foo") %>" data-turbo-frame="search_results">
    <label for="search_query">Query</label>
    <input id="search_query" name="query" type="search">

    <button>
      Search
    </button>

    <turbo-frame id="search_results" target="_top"></turbo-frame>
  </form>
</header>
<main><%= yield %></main>
</body>
</html>
